@font-face {
  font-family: GlegooRegular;
  src: url(../fonts/Glegoo-Regular.ttf);
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
ul {
  &:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
    > li {
      list-style-type: none;
    }
  }
}
a {
  color: #039be5;
  text-decoration: none;
}
