nav{
    margin-bottom: 10px;
}

nav img{
    height: 64px;
}

.arrow:hover {
    text-decoration: underline;
}

.arrow:after {
    content: '';
    background: url('link.svg') no-repeat;
    position: relative;
    width: 9px;
    height: 9px;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: 5px;
}

.previous:hover {
    text-decoration: underline;
}

.previous:before {
    content: '';
    background: url('previous.svg') no-repeat;
    position: relative;
    width: 9px;
    height: 9px;
    top: 0;
    left: 0;
    display: inline-block;
    margin-right: 5px;
}
