nav {
    margin-bottom: 10px;
}

nav img {
    height: 64px;
}

.arrow:hover {
    text-decoration: underline;
}

.arrow:after {
    content: '';
    background: url('img/link.svg') no-repeat;
    position: relative;
    width: 9px;
    height: 9px;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: 5px;
}

.x:before {
    content: '';
    background: url('img/x-mark.svg') no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    display: inline-block;
}

.check:before {
    content: '';
    background: url('img/checked.svg') no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    display: inline-block;
}

.previous:hover {
    text-decoration: underline;
}

.previous:before {
    content: '';
    background: url('img/previous.svg') no-repeat;
    position: relative;
    width: 9px;
    height: 9px;
    top: 0;
    left: 0;
    display: inline-block;
    margin-right: 5px;
}